<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038370505745-6koupijttks44jfvfl4gou6d2700lhgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038370505745-6koupijttks44jfvfl4gou6d2700lhgi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1038370505745-el07ujgvjhnqqfpa4tlob1t9olqos52g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYAs67tPZz1OE5Tclu3VViXhUuGpsSBc8</string>
	<key>GCM_SENDER_ID</key>
	<string>1038370505745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tryve.thomas</string>
	<key>PROJECT_ID</key>
	<string>tryve-b7c6c</string>
	<key>STORAGE_BUCKET</key>
	<string>tryve-b7c6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038370505745:ios:19e42b80816f08b9705db0</string>
</dict>
</plist>